<div class="top-bar">
    <nav class="navbar">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Country List</span>
            <form class="d-flex">
                <button class="btn btn-primary mt-3" (click)="openAddCountryModel()">Add Country</button>
            </form>
        </div>
    </nav>
</div>
<div class="container">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Population</th>
                <th>Number Of States</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let i = index">
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ country.countryName }}">
                    <input class="form-control form-control-sm" [readOnly]="!country.editable"
                        [(ngModel)]="country.countryName">
                </td>
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ country.countryPopulation + ' Crore' }}">
                    <div class="input-group">
                        <input class="form-control form-control-sm" [readOnly]="!country.editable"
                            [(ngModel)]="country.countryPopulation" [type]="country.editable ? 'number' : 'text'">
                        <span class="input-group-append population-suffix"> Crore</span>
                    </div>
                </td>
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ country.stateCount + ' States' }}">
                    <input class="form-control form-control-sm" readOnly [(ngModel)]="country.stateCount">
                </td>
                <td>
                    <div *ngIf="!country.editable" class="action-buttons">
                        <button class="btn btn-outline-primary btn-sm" (click)="editCountry(i)"data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Country">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-sm" (click)="deleteCountry(country.id)"data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Country">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    <div *ngIf="country.editable" class="action-buttons">
                        <button class="btn btn-outline-success btn-sm" (click)="saveCountry(i)"data-bs-toggle="tooltip" data-bs-placement="top" title="Save Changes">
                            <i class="bi bi-check-lg"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
